openpyxl
pandas
groq
pdfplumber
python-docx
python-pptx
requests
beautifulsoup4
openai==0.28
streamlit
python-pptx
Pillow
google-fonts
torch
transformers
streamlit
matplotlib
docx2txt
openai-whisper
rembg
numpy
onnxruntime
torchvision
torchaudio
ffmpeg-python
gTTS==2.2.3
pydub==0.25.1
streamlit
