openpyxl
streamlit
pandas
groq
pdfplumber
python-docx
python-pptx
requests
beautifulsoup4
gTTS
pydub
openai==0.28
streamlit
python-pptx
Pillow
google-fonts
torch
transformers
streamlit
matplotlib
docx2txt
openai-whisper
rembg
numpy
onnxruntime
torchvision
torchaudio
